<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.testngframework.Listeners"/>
</listeners>
  <test name="Validating Title">
    <classes>
      <class name="com.testngframework.ValidateTitle"/>
      
    </classes>
    </test>
    
     <test name="Validating Navigaytion Bar">
    <classes>
      <class name="com.testngframework.ValidateNavigationBar"/>
    </classes>
    </test>
    
    <test name="Validating Home Page">
    <classes>
      <class name="com.testngframework.HomePageNew"/>
    </classes>
    </test>
   
</suite> <!-- Suite -->
